<div class="row mb10">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu" data-dropdown-menu>
                <li><a href="/">Products</a></li>
                <li><a href="#">Random Product</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <div id="counterView">
                <span id="counterItem"></span>
            </div>
            <i class="fi-shopping-cart"></i>
        </div>
    </div>
</div>
